<div data-options="dxView : { name: 'about', title: 'About' } ">
    <div data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div data-bind="dxScrollView: {}">
            <p style="padding: 5px">History</p>
            <p style="padding: 5px">ASPEKT was founded in 1992 as a software development company. In 2007 new management came on board and the company has gone through a transformation which led to strategic determination for ASPEKT to focus on developing superb solutions for financial markets.</p>
            <p style="padding: 5px">To learn more about Aspekt, visit:</p>
            <p style="padding: 5px"><a href="http://microfinancesoftware.com/" target="_blank">Aspekt Microfinance Software</a></p>
            <p style="padding: 5px"><a href="#" onclick="window.open('http://aspektleasing.com/', '_system');">Aspekt Leasing Software</a></p>
            <p style="padding: 5px"><a href="#" onclick="window.open('http://aspekt.mk/', '_self', 'location=yes');">Aspekt</a></p>

        </div>
    </div>
</div>